@font-face {
    font-family: "SpaceMono-Bold";
    src: url(../font/SpaceMono-Bold.ttf);
    src: local("SpaceMono"), url("../font/SpaceMono-Bold.eot") format("eot"), url("../font/SpaceMono-Bold.woff") format("woff"),
        url("../font/SpaceMono-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "SpaceMono-Regular";
    src: url(../font/SpaceMono-Regular.ttf);
    src: local("SpaceMono-Regular"), url("../font/SpaceMono-Regular.eot") format("eot"), url("../font/SpaceMono-Regular.woff") format("woff"),
        url("../font/SpaceMono-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "WorkSans-Regular";
    src: url(../font/WorkSans-Regular.ttf);
    src: local("WorkSans-Regular"), url("../font/WorkSans-Regular.eot") format("eot"), url("../font/WorkSans-Regular.woff") format("woff"),
        url("../font/WorkSans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "WorkSans-SemiBold";
    src: url(../font/WorkSans-SemiBold.ttf);
    src: local("WorkSans-SemiBold"), url("../font/WorkSans-SemiBold.eot") format("eot"), url("../font/WorkSans-SemiBold.woff") format("woff"),
        url("../font/WorkSans-SemiBold.woff2") format("woff2");
}
