$default-color: #fff;

%SpaceMono-Bold {
    font-family: "SpaceMono-Bold";
    font-style: normal;
    font-weight: 700;
}
%SpaceMono-Regular {
    font-family: "SpaceMono-Regular";
    font-style: normal;
    font-weight: 400;
}
%WorkSans-Regular {
    font-family: "WorkSans-Regular";
    font-style: normal;
    font-weight: 400;
}
%WorkSans-SemiBold {
    font-family: "WorkSans-SemiBold";
    font-style: normal;
    font-weight: 600;
}